@page
@using demowebapp.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Tum!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*to access data from code behind we must use Model.VariableName*@
@*to use variable on html we must add @ in front of variable such as @variable*@
@*the way to use for loop we can use on cshtml by @for*@

@*to use blazor component we must initial on program.cs service.AddServerSideBlazor(), app.MapBlazorHub() or endpoint.MapBlazorHub() it depend hosting model*@
@*and the way to use blazor component we must declare use script on _framework/blazor.server.js*@


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
