@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Tum!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*to access data from code behind we must use Model.VariableName*@

@foreach(var product in Model.Products)
{
    <h2>@product.Title</h2>
}