@using Microsoft.AspNetCore.Components.Web
@using demowebapp.Models
@using demowebapp.Services
@inject JsonFileProductService ProductService

<div class="container ">
    <div class="row row-cols-3 g-2 card-columns">
        @foreach (var product in ProductService.GetProducts())
        {
            <div class="card">
                <div class="card-img" style="background-image: url('@product.Image');">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(product.Id))"
                                data-bs-toggle="modal" data-bs-target="#productModal" class="btn btn-primary">
                            More Info
                        </button>
                    </small>
                </div>
            </div>

        }
    </div>
</div>

@*to call child method or use child property we can pass reference to child component by use @ref*@

<ProductDetailModal @ref="productDetailModalRef" onCallParentMethodProp="SelectProduct"/>

@code {
    ProductDetailModal productDetailModalRef;

    void SelectProduct(string productId)
    {
        productDetailModalRef.selectProductId = productId;
        productDetailModalRef.selectedProduct = ProductService.GetProducts().FirstOrDefault<Product>(p => p.Id == productDetailModalRef.selectProductId);
        productDetailModalRef.GetCurrentRating();
    }
}

